# NetBeans specific #
nbproject/private/
**/nbproject/private/
genfiles.properties
build-impl.xml
build/
nbbuild/
**/nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear