# NetBeans specific #
EasyAppointment/nbproject/private/
EasyAppointment/build/
EasyAppointment/nbbuild/
EasyAppointment/dist/
EasyAppointment/nbdist/
EasyAppointment/nbactions.xml
EasyAppointment/nb-configuration.xml

EasyAppointment/EasyAppointmentClient/nbproject/private/
EasyAppointment/EasyAppointmentClient/build/
EasyAppointment/EasyAppointmentClient/nbbuild/
EasyAppointment/EasyAppointmentClient/dist/
EasyAppointment/EasyAppointmentClient/nbdist/
EasyAppointment/EasyAppointmentClient/nbactions.xml
EasyAppointment/EasyAppointmentClient/nb-configuration.xml

EasyAppointment/EasyAppointment-ejb/nbproject/private/
EasyAppointment/EasyAppointment-ejb/build/
EasyAppointment/EasyAppointment-ejb/nbbuild/
EasyAppointment/EasyAppointment-ejb/dist/
EasyAppointment/EasyAppointment-ejb/nbdist/
EasyAppointment/EasyAppointment-ejb/nbactions.xml
EasyAppointment/EasyAppointment-ejb/nb-configuration.xml

EasyAppointment/EasyAppointmentLibrary/nbproject/private/
EasyAppointment/EasyAppointmentLibrary/build/
EasyAppointment/EasyAppointmentLibrary/nbbuild/
EasyAppointment/EasyAppointmentLibrary/dist/
EasyAppointment/EasyAppointmentLibrary/nbdist/
EasyAppointment/EasyAppointmentLibrary/nbactions.xml
EasyAppointment/EasyAppointmentLibrary/nb-configuration.xml


# Class Files #
EasyAppointment/*.class

# Package Files #
EasyAppointment/*.jar
EasyAppointment/*.war
EasyAppointment/*.ear